body {
	background:#fff;
	width: 50%;
	margin:0 0 0 15%;
	padding:25px;
	border: 1px solid #aaaaaa;
	align: center;
	line-height:1.5;
	text-align: justify;
	font-size:18px;
	font-family: Verdana, sans-serif;
	font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace 
	color: #000000;
}

.container {
	margin:0 auto;
}

.pdf {
	margin:0 auto;
}

iframe {
	width:"100%";
	height:"750"
}

section h2 {
	display:block;
	margin:0 0 20px 0;
	/* border-bottom:5px solid #e4e6e8;*/
	border-bottom:8px solid #acb;
}

section h3 {
	display:block;
	margin:0 0 20px 0;
	/* border-bottom:2px solid #e4e6e8;*/
	border-bottom:4px solid #acb;
}

section h4 {
	display:block;
	margin:0 0 20px 0;
	/* border-bottom:1px solid #e4e6e8;*/
	border-bottom:2px solid #acb;
}

header {
	width:100%;
	/* border-bottom:15px solid #e4e6e8;*/
	border-bottom:15px solid #acb;
	padding:20px 0;
	margin:0 0 40px 0
}

header h1 {
	font-size:36px;
	line-height:1.5;
	font-weight:bold;
	font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color:#000000;
	-webkit-font-smoothing:antialiased
}

header h2 {
	font-size:18px;
	font-weight:bold;
}

img {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 0;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color;#666;
}

a {
	color: #009688; 
}

code {
	font-family: Consolas,"courier new";
	color: crimson;
	background: #f6f8fa; 
	padding: 2px;
	font-size: 90%;
	border-radius: 7px;
}

#toc {
	position: fixed;
	right: 2.5%;
	top: 0;
	padding: 20px;
	width: 25%;
	background-color:#f6f8fa;
}

#toc #full { display: none; } /* Hide the full TOC by default */

#toc:hover #full{
  display: block; /* Show it on hover */
}

.highlight-latex {
	margin: 0; 
	background: #f6f8fa; 
	overflow:auto;
	width:auto;
	max-height:15cm;
	border:solid gray;
	border-width:.1em .1em .1em .8em;
	padding:.2em .6em;
	font-family: Consolas,"courier new";
	font-size: 85%;
}

.tex-dcl {
	color: #880000; 
	font-weight: bold
}

.tex-dcl-opt {
	color: #e46645; 
}

.tex-dcl-arg {
	color: #000088; 
}

.tex-env {
	color: #008800; 
	font-weight: bold
}

.tex-mac {
	color: #000088; 
}

.tex-del {
	color: crimson;
	/*color: #880000;*/
}

.tex-col{
	margin: 0; 
}

.tex-col-num{
	margin: 0; 
	padding:5px;
}
.tex-com {
	color: #666666;
	font-style: italic;
}

